/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/



/*Personal data*/
/*
.personalData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 550px;
  height: 860px;
  background: #FFFFFF;
  color: black;
}
.aboutMe {
  text-align: start;
  display: block;
  width: 550px;
}*/

